[Unit]
Description=Ostock Config Service

[Container]
Image=localhost/caithesi/ostock-config-service:latest
PublishPort=8071:8071
Network=ostock-network
Exec=always

[Install]
# WantedBy=default.target
# Commented out to prevent auto-start on boot