[Unit]
Description=Ostock Config Service
After=ostock-network.service
Requires=ostock-network.service

[Container]
Image=localhost/caithesi/ostock-config-service:latest
PublishPort=8071:8071
Network=ostock-network
Exec=always
ContainerName=config-service

[Install]
# WantedBy=default.target
# Commented out to prevent auto-start on boot